<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Edit Feed Channel
    </h1>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-fw fa-wrench"></i>
        <%= link_to "Manage Feeds", rss_feeds_path %>
      </li>
      <li class="active">
        <i class="fa fa-edit"></i> Edit
      </li>
    </ol>
  </div>
</div>
<!-- /.row -->

<%= render 'form' %>